:root {
	--titleBgColor: rgb(2, 87, 94);
}

.Title {
	width: 100%;
}

.ba .navbar-brand {
	width: 450px;
}

.titleLogo {
	width: 100%;
	height: auto;
	padding: 5px 0px;
}

.ba {
	flex-wrap: wrap !important;
}

.ba .container-fluid {
	padding-left: 60px !important;
	padding-right: 60px !important;
}

.ba .container-fluid > a {
	margin-left: -20px !important;
}

.Title .bg-light,
.ba {
	background-color: var(--titleBgColor) !important;
}

.burger {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 40;
	display: none;
	color: white;
	border: 1px solid gray;
	border-radius: 25%;
	font-size: 250%;
	cursor: pointer;
}

@media only screen and (max-width: 995px) {
	.burger {
		display: inline-block;
	}
}

@media only screen and (max-width: 1000px) {
	.ba .container-fluid {
		padding-left: 20px !important;
	}
	.Title {
		position: sticky;
		top: 0px;
		z-index: 30;
	}
	.titleLogo {
		margin-left: -10px;
	}
}
