:root {
	--titleBgColor: #082a8d;
}

.Title {
	width: 100%;
	position: sticky;
	top: 0px;
	z-index: 30;
}

.ba .navbar-brand {
	width: 450px;
}

.titleLogo {
	width: 100%;
	height: auto;
	padding: 5px 0px;
}

.ba {
	flex-wrap: wrap !important;
}

.ba .container-fluid {
	padding-left: 20px !important;
	padding-right: 20px !important;
}

.ba .container-fluid > a {
	margin-left: -20px !important;
}

.Title .bg-light,
.ba {
	background-color: var(--titleBgColor) !important;
}

.burger {
	position: absolute;
	top: 30%;
	right: 20px;
	z-index: 40;
	display: none;
	color: white;
	border: 1px solid gray;
	border-radius: 25%;
	font-size: 250%;
	cursor: pointer;
}

@media only screen and (max-width: 1000px) {
	.burger {
		display: inline-block;
	}
	.ba .container-fluid {
		padding-left: 20px !important;
	}
	.titleLogo {
		margin-left: -10px;
	}
}
