.mhrd a,
.mhrd img {
	height: 100%;
	max-height: 100%;
}

.mhrd .card {
	height: 90px;
	width: 250px;
}
.MHRDBG {
	background-color: #dfdfdf;
}
.card {
	transition: all 0.2s ease-in-out;
}
.mhrd .card:hover {
	box-shadow: 0px 0px 4px 1px;
}

.mhrd .card:hover .card-img-top {
	animation: none;
}

.mhrd {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.mhrdCard {
	border: 2px solid #aaa;
	overflow: hidden;
}

@media only screen and (max-width: 1000px) {
	.mhrd {
		flex-direction: column;
	}
}
