.mobileMenuOuter {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
}

.mobileMenu {
	height: 100%;
	width: 100%;
	max-width: min(95vw, 400px);
	background-color: white;
	border: solid 1px black;
	padding: 20px;
	overflow: auto;
	animation-name: slideInFromLeft;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}

@keyframes slideInFromLeft {
	0% {
		position: relative;
		left: -400px;
	}
	100% {
		position: relative;
		left: 0px;
	}
}

.dontShowMe {
	animation-name: slideInToLeft;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}

@keyframes slideInToLeft {
	0% {
		position: relative;
		left: 0px;
	}
	100% {
		position: relative;
		left: -400px;
	}
}

.disappear {
	animation-name: disappear;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	background-color: rgba(0, 0, 0, 0);
}

@keyframes disappear {
	0% {
		width: 100vw;
	}
	100% {
		width: 0;
	}
}

.mmenuP1 {
	background-color: #fff;
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}

.closeIcon {
	font-size: 30px;
	cursor: pointer;
}

.indiMenu {
	padding: 10px;
	margin: 5px;
}

.indiMenuHeading {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.menuHeading {
	padding-left: 25px;
}

.upIcon {
	animation-name: up;
}

.downIcon {
	animation-name: down;
}

.downIcon,
.upIcon {
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}

.menu2,
.menu3,
.menu4,
.menu5 {
	margin: 0 0 0 10px;
}

@keyframes down {
	0% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes up {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

.indiMenuLink {
	animation-name: slide;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	border-radius: 0 0 0 10px;
}

.indiMenuLink a {
	color: black;
	width: 100%;
	display: inline-block;
}

@keyframes slide {
	0% {
		right: 40px;
		opacity: 0;
	}
	100% {
		right: 0px;
		opacity: 1;
	}
}

.indiMenuLink {
	padding: 10px;
}
