.news .card {
	margin: auto;
	font-family: "Lora", serif;
	border-radius: 0px;
	width: 100%;
	border: none;
	background-color: lavender;
}

/* .news .owl-nav {
	display: none;
}

.news .owl-carousel:hover .owl-nav {
	display: initial;
}

.news .disabled,
.news .owl-carousel:hover .disabled {
	display: none;
} */

.NAT .owl-prev,
.owl-next {
	background-color: rgba(0, 0, 0, 0.3) !important;
}

.NAT .owl-prev:hover,
.owl-next:hover {
	background-color: rgba(0, 0, 0, 0.6) !important;
}

.news .card-img,
.card-img-top {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.news1 .owl-item {
	height: 400px;
}

.owl-item > div {
	height: 100%;
}

.newsCard {
	height: 100%;
}

.news .owl-stage {
	margin: 2% 0px;
}

.news .card-title {
	margin: auto;
	margin-bottom: 0.75rem;
}

.news .card-img-top:hover {
	animation-name: zoomin;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
}

@keyframes zoomin {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

.news1 .newsCard:hover {
	box-shadow: 1 21 0px 6px #aaa;
	box-shadow: 1px 1px 14px;
}

.news .card-body {
	min-width: min(100%, 220px);
	/* padding-top: 0; */
	padding: 25px;
}

.news .btn {
	margin: 0;
}

.news .img-holder {
	overflow: hidden;
	max-height: 170px;
	height: 170px;
}

.news .img-holder img {
	height: 100%;
}

.moreStuff {
	background-color: transparent;
	color: #4f3ef5;
	border: 1px solid #4f3ef5;
	border-radius: 10px;
	padding: 5px;
	transition: all 0.2s ease-in;
}

.moreStuff:hover {
	background-color: #4f3ef5;
	color: white;
}

@media only screen and (max-width: 1000px) {
	.news .card {
		flex-direction: column;
	}
	.news .card-body {
		padding-top: 20px;
	}
	.news .img-holder {
		height: initial;
		min-width: initial;
	}
	.news .card-img-top {
		padding-right: 0px;
		width: 100%;
	}
	.news .mainTitle {
		padding: 0px !important;
		padding-bottom: 20px !important;
	}
}
