.news {
	width: min(500px, 80vw) !important;
	background-color: #eee;
	padding: 40px 20px;
}

.news .card {
	margin: auto;
	overflow-y: auto;
	font-family: "Lora", serif;
	border-radius: 0px;
	flex-direction: row;
	width: 100%;
	border: none;
	background-color: #eee;
	margin-bottom: 40px;
}

.news .card-img,
.card-img-top {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.news .card-img-top {
	padding-right: 10px;
	min-height: 118px;
	min-width: 220px;
}

/* .news .card:hover {
	box-shadow: 0px 0px 10px;
} */

.news .owl-stage {
	margin: 2% 0px;
}

.news .card-title {
	margin: auto;
	margin-bottom: 0.75rem;
}

.news .card-img-top:hover {
	animation-name: zoomin;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	/* The element will retain the style values that is set by the last keyframe */
	animation-iteration-count: 1;
	/* can be set to `infinite` too */
	animation-timing-function: ease-in;
}

@keyframes zoomin {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

.news .card-body {
	min-width: min(100%, 220px);
	padding-top: 0;
}

.news .btn {
	margin: 0;
}

.news .img-holder {
	height: 118px;
	min-width: 220px;
	overflow: hidden;
}

.moreStuff {
	background-color: transparent;
	color: #4f3ef5;
	border: 1px solid #4f3ef5;
	border-radius: 10px;
	padding: 5px;
}

.moreStuff:hover {
	background-color: #4f3ef5;
	color: white;
}

@media only screen and (max-width: 1000px) {
	.news .card {
		flex-direction: column;
	}
	.news .card-body {
		padding-top: 20px;
	}
	.news .img-holder {
		height: initial;
		min-width: initial;
	}
	.news .card-img-top {
		padding-right: 0px;
	}
	.news .mainTitle {
		padding: 0px !important;
		padding-bottom: 20px !important;
	}
}
