.embed-video {
	margin-top: 5rem;
	margin-bottom: 1rem;
	padding: 1rem;
	padding-left: 0 !important;
	padding-right: 0 !important;
	max-width: 1140px !important;
	justify-content: space-between;
}

.video-responsive {
	padding-top: 0;
	margin-top: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.embed-iframe {
	padding: 0;
	/* height: 100%; */
}

.announce {
	display: flex;
	flex-direction: column;
	width: fit-content;
	justify-content: flex-start;
	height: 100%;
	padding: 0.5rem;
	padding-right: 0;
	padding-top: 0;
	font-family: "Titillium Web", sans-serif, Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.announce-title {
	font-size: 2rem;
	color: #3668dd;
	font-weight: 400;
	text-align: left;
	padding-bottom: 0;
	margin-bottom: 0;
}

.announce-text {
	overflow-y: auto;
	max-height: 250px;
	color: #585858;
	text-align: justify;
	font-size: 1rem;
	word-wrap: break-word;
}

.announce hr {
	padding-top: 0;
	margin-top: 0px;
	border: 0;
	height: 5px;
	width: 40%;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media only screen and (max-width: 1220px) {
	.announce-title {
		font-size: 1.5rem;
	}
	.video-responsive {
		justify-content: center;
	}
}

@media only screen and (max-width: 1100px) {
	.announce-title {
		font-size: 1.3rem;
	}
}

@media only screen and (max-width: 991px) {
	.announce-title {
		font-size: 2.4rem;
		text-align: center !important;
	}
	.announce hr {
		display: block;
		height: 5px;
		width: 50%;
		color: #585858;
		margin: 0 auto;
	}
	.announce {
		margin: 0.5rem auto;
	}
}

@media only screen and (max-width: 650px) {
	.announce-title {
		font-size: 2rem;
		text-align: center !important;
	}
	.embed-video {
		padding: 0;
	}
}
