.nsdPage .card {
	flex-direction: column;
	width: min(100%, 400px);
	background-color: rgb(248, 249, 250);
	margin: 10px;
	/* pointer-events: none; */
}

.nsdPage .card .card-body {
	margin-left: 0px;
	padding-left: 0px;
}

.nsdPage > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}

.nsdPage img {
	height: 300px;
}
