@media only screen and (max-width: 1000px) {
	.carousel-caption {
		display: none !important;
	}
	.w-100 {
		min-height: 300px;
	}
}

.owl-item {
	max-height: 530px;
}

.owl-dots {
	position: relative;
	top: -40px;
}

.owl-dots .owl-dot:hover span {
	background-color: white !important;
}

.owl-dots .active span {
	background-color: white !important;
}

.owl-prev,
.owl-next {
	position: absolute;
	top: 40% !important;
	font-size: 50px !important;
	background-color: rgba(0, 0, 0, 0.6) !important;
	margin: 0 !important;
	color: #aaa !important;
}

.owl-prev span,
.owl-next span {
	position: relative;
	top: -5px;
}

.owl-prev {
	left: 0 !important;
	border-radius: 0 10px 10px 0 !important;
}

.owl-next {
	right: 0 !important;
	border-radius: 10px 0 0 10px !important;
}

.owl-next:hover,
.owl-prev:hover {
	color: white !important;
	background-color: rgba(0, 0, 0, 0.6) !important;
}

@media only screen and (max-width: 600px) {
	.owl-nav {
		display: none;
	}
}

.abc,
.carousel-item {
	max-height: 520px !important;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100% !important;
	left: 0% !important;
	right: 0% !important;
	padding-bottom: 40px !important;
	bottom: 0px !important;
}

.carousel-caption h3 {
	color: gold !important;
}
