.crd{
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 992px) and (min-width:700px){
    .dean{
        width:50%;
    }
    .dean2{
        width: 50%;
    }
}
@media screen and (max-width: 700px){
    .dean{
        display: block;
    }
    .dean2{
        display: block;
    }
}