.eventsPage {
	flex-direction: row !important;
}
.eventsbg{
	background-color: rgb(117, 235, 243,0.2);
}
.eventsPage .card-img-top {
	height: 100%;
}

@media only screen and (max-width: 1000px) {
	.eventsPage {
		flex-direction: column !important;
	}
}
