:root {
	--pcol: var(--blue);
	--scol: white;
	--tspeed: 0.2s;
	--base-scale: 1.1;
	--subMenu-width: 13rem;

	--fgrad: #046092;
	--sgrad: #046092;

	--rm-font-size: 1rem;
	--sm-font-size: 1rem;
}

.mainNav > div {
	box-shadow: none !important;
	justify-content: space-evenly !important;
	padding: 0 !important;
}

.mainNav li {
	margin: 5px 0 !important;
}

.mainNav > div > div:first-child {
	display: none;
}

.mainNav > div > div:nth-child(2) {
	width: 100%;
}

.mainNav > div > div:nth-child(2) > ul {
	width: 100%;
	justify-content: space-evenly !important;
}

.mainNav > div > div:nth-child(2) > ul > li > span {
	animation-name: rotateDown;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}

@keyframes rotateDown {
	0% {
		transform: rotate(315deg);
	}
	100% {
		transform: rotate(135deg);
	}
}

.mainNav > div > div:nth-child(2) > ul > li:hover > span {
	animation-name: rotateUp;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	animation-timing-function: ease;
}

@keyframes rotateUp {
	0% {
		transform: rotate(135deg);
	}
	100% {
		transform: rotate(315deg);
	}
}

@media only screen and (max-width: 1350px) {
	.mainNav {
		display: none !important;
	}
}
