.coordCard img {
	width: 150px;
	height: 150px;
}

.coords {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.coords > div {
	width: max(50%, 400px);
}

.coordCard {
	display: flex;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 95%;
	overflow: hidden;
	align-items: center;
}
