.coordCard img {
	width: 150px;
	height: 150px;
}

.coords {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.coords > div {
	width: max(48%, 400px);
}

.coordCard {
	display: flex;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 100%;
	overflow: hidden;
	align-items: center;
}

.mhrdPage tr,
.mhrdPage th {
	text-align: center;
}

.mhrdPage .form-group {
	width: min(500px, 100%);
	font-family: Ubuntu;
}

.mhrdPage form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 40px;
}
