.mr-auto {
	margin: auto;
	justify-content: center;
}

@media only screen and (max-width: 1000px) {
	.mainTitle {
		text-align: center !important;
		font-size: 2rem;
	}
	.home .card-body {
		text-align: justify !important;
	}
}

.mainTitle {
	font-family: "Roboto", sans-serif;
}

.mainDesc {
	font-family: "Ubuntu", sans-serif;
}

.font-acme {
	font-family: "Roboto", sans-serif !important;
}

.font-ubuntu {
	font-family: "Ubuntu", sans-serif !important;
}

a:hover {
	text-decoration: none !important;
}

.newsEvents {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: #e5e5e5;
	justify-content: center;
}

.mainScreen a {
	color: #6772e5 !important;
}

.mainScreen a:hover {
	color: #4f3ef5 !important;
}

.myCustomTable a {
	color: #0028ff !important;
}

.myCustomTable a:hover {
	color: #100298 !important;
}
