.owl-card {
  cursor: pointer;
}
.owl-card .owl-prev,
.owl-card .owl-next {
  display: none !important;
}
.owl-card:hover .owl-prev,
.owl-card:hover .owl-next {
  display: block !important;
}
.carousel-row {
  margin: 1.3rem;
}
.owl-card .owl-prev,
.owl-card .owl-next {
  position: absolute;
  top: 40%;
  color: black !important;
}

.owl-card .owl-prev {
  left: 0px;
  border-radius: 0 5px 5px 0 !important;
}

.owl-card .owl-next {
  right: 0px;
  border-radius: 5px 0 0 5px !important;
}
.owl-card .owl-prev:hover,
.owl-card .owl-next:hover {
  background-color: transparent !important;
}
.owl-card .owl-prev span,
.owl-card .owl-next span {
  font-size: 45px !important;
  margin: 0 10px !important;
  position: relative;
  top: -5px;
}
.carousel-card-img {
  height: 200px;
}
.carousel-title {
  padding-top: 0.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #1557e4;
  border-bottom: 3px solid #9b9696;
}
.carousel-text {
  font-size: 1.1rem;
}
.carousel-row-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  margin-bottom: 1.5rem;
}
.owl-card-title {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #3760c0;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 400;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.carousel-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 250px;
  font-family: "Titillium Web", sans-serif, Source Sans Pro, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  background-color: #dbe2f1;
}
@media only screen and (max-width: 451px) {
  .owl-card-title {
    font-size: 1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 501px) {
  .owl-card-title {
    font-size: 1.5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-bottom: 1rem;
  }
  .carousel-div {
    height: fit-content !important;
    padding: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .owl-card {
    padding: 1rem;
  }
  .carousel-div {
    justify-content: center;
    align-items: center;
    height: 200px;
  }
}
@media only screen and (max-width: 500px) {
  .carousel-row {
    margin: 0.2rem;
  }
  .carousel-card-img {
    height: 150px;
  }
  .carousel-title {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .carousel-text {
    font-size: 0.9rem;
  }
}
