.aboutIITI img {
	margin: 10px;
	padding: 5px;
	border: 1px solid #aaa;
	border-radius: 10px;
}

.aboutIITI {
	text-align: justify;
}

.charts {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}

.charts img {
	width: max(400px, 48%);
}
