.jvectormap-container svg {
	cursor: pointer;
}

.jvectormap-container {
	border-radius: 5px;
}

.jvectormap-zoomin,
.jvectormap-zoomout {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.jvectormap-zoomout {
	top: 40px;
}
