.footer img {
	width: 40%;
}

.doclinks a {
	text-decoration: none;
	color: black;
}

.footer {
	text-align: center;
	background-color: #648fbc;
	/* background-image: url("./assets/sea2.jpg");
	background-size: cover; */
	font-family: "Lora", serif;
	font-weight: 900;
}

.footer .phone,
.address,
.social {
	margin: 3% 0;
}

.footergrid {
	padding: 2%;
	margin: auto;
}

.footer .addphone {
	padding-left: 0;
	padding-right: 0;
	margin: auto;
}

.footerdesc {
	margin-top: 2%;
}

.social a {
	color: black;
	margin: 3%;
	font-size: x-large;
}
.eventdate {
	background-color: rgb(138, 21, 21);
	color: blanchedalmond;
	display: inline-block;
	opacity: 0.8;
	padding: 1rem;
}
.eventlink {
	cursor: pointer;
	text-decoration: none;
}
.eventlink:hover {
	cursor: pointer !important;
	color: black;
}
.event-card {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.card-img-overlay {
	position: absolute;
	top: 0;
	/* right: 0;
    bottom: 0; */
	left: 0;
	/* padding: 1.25rem; */
	border-radius: calc(0.25rem - 1px);
	/* margin: 0px !important; */
	padding: 0px;
	/* width: 10%;*/
	height: 10px;
}
