.footer img {
	width: 40%;
}

.doclinks a {
	text-decoration: none;
	color: black;
}

.footer {
	text-align: center;
	background-image: url("./assets/sea2.jpg");
	background-size: cover;
	font-family: "Lora", serif;
	font-weight: 900;
}

.footer .phone,
.address,
.social {
	margin: 3% 0;
}

.footergrid {
	padding: 2%;
	margin: auto;
}

.footer .addphone {
	padding-left: 0;
	padding-right: 0;
	margin: auto;
}

.footerdesc {
	margin-top: 2%;
}

.social a {
	color: black;
	margin: 3%;
	font-size: x-large;
}
.eventdate{
	background-color:rgb(138, 21, 21);
	color:blanchedalmond;
	display: inline-block;
	opacity:0.8;
	padding: 2.5rem 1.5rem;
}
.eventlink{
	cursor: pointer;
	text-decoration: none;
}
.eventlink:hover{
	cursor: pointer !important;
	color: black;
}
.event-card{
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
