* a {
	transition: all 0.2s ease-in-out;
}

.footer img {
	width: 40%;
}

.doclinks a {
	text-decoration: none;
	color: rgb(27, 27, 27);
}

.footer {
	text-align: center;
	background-color: #0f0f13;
	/* background-image: url("./assets/sea2.jpg");
	background-size: cover; */
	font-family: "Lora", serif;
	font-weight: 900;
}

.bottom {
	display: flex;
	overflow: hidden;
	padding-left: 120px;
}

.footer .phone,
.address,
.social {
	margin: 3% 0;
}

.footergrid {
	padding: 2%;
	margin: auto;
}

.social {
	color: rgb(255, 255, 255);
	text-align: left;
}

.social a {
	color: rgb(253, 253, 253);
	margin: 3% 6% 3% 0;
	font-size: x-large;
}

.links {
	text-align: left;
	color: rgb(255, 255, 255);
	padding-left: 30px;
}

.links a {
	color: rgb(22, 103, 170);
	font-weight: 500;
}

.links a:hover {
	color: rgb(252, 252, 252);
	font-weight: 500;
}

.links a:hover {
	color: rgb(111, 142, 168);
}

.address {
	text-align: left;
	color: rgb(255, 255, 255);
}

.addresstext {
	/* font-family: 'Roboto', sans-serif; */
	font-weight: 300;
}

@media only screen and (max-width: 1000px) {
	.footer .links,
	.address,
	.social {
		margin: 3% 0%;
	}

	.social {
		text-align: center;
		margin-top: 30px !important;
	}

	.social a {
		margin-top: 30px !important;
	}

	.links {
		margin-top: 30px !important;
		text-align: center;
		padding-left: 0px;
	}

	.address {
		margin-top: 30px !important;
		text-align: center;
	}
}

.Documents {
	background-color: rgb(202, 209, 209);
	padding: 20px;
	text-align: center;
}

.Documents p {
	margin-bottom: 0;
}

.eventlink {
	cursor: pointer;
	text-decoration: none;
}

.eventlink:hover {
	cursor: pointer !important;
	color: black;
}

.event-card {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card-img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: calc(0.25rem - 1px);
	padding: 0px;
	height: 10px;
}

.footer a {
	color: #fff !important;
}

.footer a:hover {
	color: var(--blue) !important;
}

.footer h4 {
	color: #007bff;
}

.pop-out {
	transition: all 0.2s ease-out;
}

.pop-out:hover {
	transform: scale(1.2);
}

@media only screen and (max-width: 990px) {
	.social a {
		margin: 10px;
	}
}
